@charset "utf-8";
@import "../lib/com";
@import "../lib/swipe";

//颜色
$red: #dc3d39;

$red2: #fa2434;

$black: #393636;

$gray: #dedede;
$gray2: #ebebeb;

$orange: #faa02f;

body {
  background-color: #f0f0f0;
}

/*入口导航*/

.entry-nav-bar {
  text-align: center;
  background-color: #f6f6f6;
  overflow: hidden;
  transition: height 0.5s ease-in;
  li {
    height: px2rem(65);
    line-height: px2rem(65);
    float: left;
    width: 14.28%;
    font-size: px2rem(24);
  }
  a {
    width: 100%;
    height: 100%;
    display: block;
    color: $black;
  }
  .hide-more-btn {
    .icon {
      transform: rotate(-90deg);
    }
  }
  &.list-hide {
    height: px2rem(65);
  }
}

/*标题栏*/

.title-header-bar {
  position: relative;
  background-color: $red2;
  height: px2rem(88);
  line-height: px2rem(88);
  padding: 0 px2rem(10);
  .turn-location {
    padding: 0 px2rem(20);
    color: #ffffff;
    font-size: px2rem(28);
    float: left;
    .icon {
      margin-right: px2rem(10);
    }
  }
  .turn-leju {
    position: absolute;
    left: 25%;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    img {
      height: px2rem(51);
      width: px2rem(147);
    }
  }
  .show-btn {
    padding: 0 px2rem(20);
    float: right;
  }
  .icon-user-head {
    vertical-align: px2rem(-10);
    background-image: url(../../img/home/user_head.png);
    width: px2rem(36);
    height: px2rem(36);
  }
}

/*搜索栏*/

.home-search-box {
  background-color: #ffffff;
  padding: px2rem(20) px2rem(30) 0;
  input {
    border: none;
    color: #b2b2b2;
    font-size: px2rem(28);
    background: #f0f0f0 url(../../img/icon/search.png) no-repeat px2rem(20) center;
    background-size: px2rem(32) px2rem(32);
    border-radius: px2rem(4);
    width: 100%;
    padding-left: px2rem(66);
    height: px2rem(66);
  }
}

/*入口图标*/
.slider-nav-box {
  border-bottom: px2rem(1) solid $gray;
  background-color: #ffffff;
  .slider-control {
    text-align: center;
    padding-bottom: 10px;
  }
  button{
    border: px2rem(5) solid #ffffff;
    width: px2rem(22);
    height: px2rem(22);
    border-radius: 50%;
    background-color: #eaeff3;
  }
  .current{
    background-color: #ff6b63;
  }
}

.entry-icon-ul {
  width: 100%;
  padding: px2rem(20) px2rem(20) 0;
  background-color: #ffffff;
  display: table;
  li {
    width: 25%;
    padding: px2rem(20);
    float: left;
    a {
      width: 100%;
      height: 100%;
      display: block;
      font-size: px2rem(26);
      color: $black;
      text-align: center;
    }
    i {
      display: block;
      margin: 0 auto px2rem(15);
      height: px2rem(94);
      width: px2rem(94);
      border-radius: px2rem(40);
      background: no-repeat center;
    }
    .i-esf {
      background-color: #ffa630;
      background-image: url(../../img/home/home_esf.png);
      background-size: px2rem(53) px2rem(54);
    }
    .i-zf {
      background-color: #fe6a69;
      background-image: url(../../img/home/home_zf.png);
      background-size: px2rem(61) px2rem(50);
    }
    .i-xqfj {
      background-color: #918afe;
      background-image: url(../../img/home/home_xqfj.png);
      background-size: px2rem(61) px2rem(49);
    }
    .i-zyzj {
      background-color: #85a8ff;
      background-image: url(../../img/home/home_zyzj.png);
      background-size: px2rem(62) px2rem(52);
    }
    .i-gfzx {
      background-color: #fcf2e6;
      background-image: url(../../img/home/home_gfzx.png);
      background-size: px2rem(52) px2rem(51);
    }
    .i-ccj {
      background-color: #fee8eb;
      background-image: url(../../img/home/home_ccj.png);
      background-size: px2rem(51) px2rem(60);
    }
    .i-dtzf {
      background-color: #efeeff;
      background-image: url(../../img/home/home_dtzf.png);
      background-size: px2rem(52) px2rem(52);
    }
    .i-bnzf {
      background-color: #e5f1ff;
      background-image: url(../../img/home/home_bnzf.png);
      background-size: px2rem(50) px2rem(53);
    }

  }
}

/*直播真房源*/

.live-house-box {
  background: #fff url(../../img/home/live_house_1.jpg) no-repeat left top;
  background-size: px2rem(188) px2rem(114);
  header {
    padding-top: px2rem(35);
    height: px2rem(113);
    text-align: center;
    background: url(../../img/home/live_house_2.jpg) no-repeat right top;
    background-size: px2rem(100) px2rem(90);
    img {
      display: block;
      margin: auto;
      height: px2rem(37);
    }
  }
  nav {
    margin: 0 px2rem(30);
    border: px2rem(1) solid $gray2;
    background: #f5f5f5;
    position: relative;
    text-align: center;
    font-size: px2rem(26);
    div {
      color: #808080;
      background: #f5f5f5;
      height: px2rem(74);
      line-height: px2rem(74);
      width: 50%;
      float: left;
    }
    .active {
      font-weight: bold;
      color: $black;
      background: #fff;
      position: relative;
      box-shadow: px2rem(3) px2rem(-3) px2rem(18) px2rem(3) rgba(228, 228, 228, 0.75);
      &::after {
        content: "";
        width: 110%;
        height: px2rem(26);
        position: absolute;
        background: #ffffff;
        z-index: 10;
        bottom: px2rem(-10);
        left: 0;
      }
      &:last-child {
        &::after {
          right: 0;
        }
      }
    }
    i {
      position: absolute;
      z-index: 20;
      display: block;
      float: left;
      left: 50%;
      top: px2rem(-1);
      //margin-left: px2rem(-23.5);
      width: px2rem(47);
      height: px2rem(76);
      background: url(../../img/home/live_house_hr.png) no-repeat;
      background-size: 100%;
      .right-active {
        transform: rotateY(180deg);
      }
    }
  }
  .live-house-list {
    margin: 0 px2rem(30);
    border: px2rem(1) solid $gray2;
    border-top: none;
    position: relative;
    box-shadow: px2rem(3) px2rem(-3) px2rem(18) px2rem(3) rgba(228, 228, 228, 0.75);
    li {
      &::after {
        content: "";
        border-bottom: px2rem(1) dashed #e0e0e0;
        width: 94%;
        height: px2rem(30);
        display: block;
        clear: both;
        margin: 0 auto px2rem(30);
      }
      &:first-child {
        padding-top: px2rem(20)
      }
      &:last-child {
        padding-bottom: px2rem(20);
        &::after {
          border: none;
          margin: 0;
          height: 0;
        }
      }
    }
    article {
      float: left;
      width: px2rem(240);
      padding-left: px2rem(15);
      .live-h-tit {
        @extend .text-overflow;
        padding: px2rem(15) 0 px2rem(10);
        display: block;
        font-weight: bold;
        font-size: px2rem(30);
        color: #333;
      }
      .live-h-msg {
        @extend .text-overflow;
        line-height: px2rem(40);
        display: block;
        font-size: px2rem(24);
        color: #a3a3a3;
      }
      .live-h-mas {
        @extend .text-overflow;
        line-height: px2rem(40);
        display: block;
        color: #a3a3a3;
        font-size: px2rem(28);
      }
      .live-h-price {
        padding: px2rem(20) 0 px2rem(10);
        display: block;
        color: #ff4e49;
        font-size: px2rem(38);
        span {
          vertical-align: px2rem(-3);
          font-size: px2rem(45);
        }
      }

    }
    figure {
      position: relative;
      float: left;
      border-radius: px2rem(4);
      overflow: hidden;
      width: px2rem(434);
      height: px2rem(288);
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
      &::after {
        content: "";
        background: url(../../img/icon/live.png) no-repeat center;
        position: absolute;
        width: px2rem(82);
        height: px2rem(82);
        background-size: 100%;
        left: 50%;
        top: 50%;
        margin-left: px2rem(-41);
        margin-top: px2rem(-41);
      }
    }
  }
}

/*便捷房源*/

.easy-house-box {
  padding: 0 px2rem(30);
  .easy-house-list {
    overflow: hidden;
    li {
      background: #f9f9f9 no-repeat right;
      background-size: px2rem(145) px2rem(120);
      float: left;
      width: 49.25%;
      height: px2rem(120);
      margin-bottom: px2rem(10);
      &:nth-child(odd) {
        margin-right: 1.5%;
      }
      &:nth-last-child(2) {
        margin-bottom: 0;
      }
    }
    .easy-house-jzf {
      background-image: url(../../img/home/easy_jzf.jpg);
      background-size: px2rem(146) px2rem(120);
    }
    .easy-house-msf {
      background-image: url(../../img/home/easy_msf.jpg);
    }
    .easy-house-djf {
      background-image: url(../../img/home/easy_djf.jpg);
    }
    .easy-house-dtf {
      background-image: url(../../img/home/easy_dtf.jpg);
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: px2rem(30) 0 0 px2rem(20);
    }
    strong {
      display: block;
      font-size: px2rem(26);
      color: $black;
      font-weight: bold;
    }
    span {
      display: block;
      font-size: px2rem(22);
      color: #999999;
    }
  }
}

/*看房资讯*/

.house-message-box {
  padding: 0 px2rem(30);
  .house-message-list {
    li {
      overflow: hidden;
      border-bottom: px2rem(1) solid #e6e6e6;
      padding: px2rem(30) 0;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
        border-bottom: none;
      }
    }
    dl {
      float: left;
      width: 64%;
    }
    dt {
      padding-bottom: px2rem(10);
      font-size: px2rem(30);
      font-weight: bold;
      a {
        display: inline-block;
        position: relative;
        padding-right: 16%;
        color: $black;
        @extend .text-overflow;
      }
      span {
        right: 0;
        position: absolute;
        top: px2rem(6);
      }
    }
    dd {
      line-height: px2rem(40);
      font-size: px2rem(26);
      a {
        color: #999999;
        @extend .line2-overflow;
      }
    }
    .message-fig {
      border-radius: px2rem(4);
      overflow: hidden;
      //width: 32%;
      width: px2rem(220);
      height: px2rem(150);
      float: right;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}

/*热点筛选*/

.hot-choose-box {
  padding: 0 px2rem(30);
  .hot-choose-list {
    li {
      position: relative;
      line-height: px2rem(54);
      padding-right: px2rem(90);
      height: px2rem(58);
      overflow: hidden;
      &:not(:last-child) {
        margin-bottom: px2rem(20);
      }
      .show-more {
        overflow: visible;
      }
    }
    a {
      color: #666666;
      font-size: px2rem(30);
      display: inline-block;
      margin-right: px2rem(25);
      &:not(:last-child) {
        &::after {
          content: "";
          font-size: px2rem(14);
          vertical-align: middle;
          margin-left: px2rem(25);
          border-left: px2rem(1) solid #dddddd;
        }
      }
      i {
        margin-left: px2rem(4);
        vertical-align: px2rem(-3)
      }
    }
    .show-choose-btn {
      background-color: #ffffff;
      width: px2rem(84);
      height: px2rem(52);
      //float: right;
      position: absolute;
      top: 0;
      right: 0;
      border: px2rem(1) solid #dddddd;
      text-align: center;
      i {
        transform: rotate(90deg);
      }
      &.open {
        i {
          transform: rotate(-90deg);
        }
      }
    }
  }
}

/*猜你喜欢*/

.favorite-box {
  padding: 0 px2rem(30);
  .favorite-list {
    li {
      position: relative;
      display: table;
      border-bottom: px2rem(1) solid #e6e6e6;
      padding: px2rem(30) 0;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
        border-bottom: none;
      }
    }
    article {
      height: px2rem(164);
      width: 68.5%;
      float: left;
      padding-left: px2rem(20);
      position: relative;
      .favorite-tit {
        line-height: px2rem(30);
        height: px2rem(30);
        margin-bottom: px2rem(4);
        @extend .text-overflow;
        display: block;
        font-weight: bold;
        font-size: px2rem(30);
        color: #333;
      }
      .favorite-msg {
        @extend .text-overflow;
        line-height: px2rem(46);
        height: px2rem(46);
        display: block;
        font-size: px2rem(26);
        color: #999999;
      }
      .favorite-mas {
        @extend .text-overflow;
        line-height: px2rem(46);
        height: px2rem(46);
        display: block;
        color: #999999;
        font-size: px2rem(26);
      }
      .favorite-price {
        height: px2rem(46);
        line-height: px2rem(46);
        display: block;
        color: #ff4e49;
        font-size: px2rem(32);
        .price-number {
          vertical-align: px2rem(-3);
          font-size: px2rem(40);
        }
      }
      .flag-line {
        width: 100%;
        position: absolute;
        left: px2rem(170);
        bottom: px2rem(-2);
        span {
          margin-right: px2rem(10);
        }
      }
    }
    figure {
      position: relative;
      float: left;
      border-radius: px2rem(4);
      overflow: hidden;
      //width: px2rem(218);
      width: 31.5%;
      height: px2rem(164);
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .house-tel-btn {
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: px2rem(-32);
      height: px2rem(64);
      width: px2rem(64);
      border: px2rem(1) solid #dddddd;
      border-radius: 50%;
      text-align: center;
      line-height: px2rem(80);
    }
  }
}

/*主页板块class*/
.home-section {
  background-color: #ffffff;
  margin-top: px2rem(26);
  border-top: px2rem(1) solid $gray;
  border-bottom: px2rem(1) solid $gray;
  .box-title {
    padding: px2rem(35) 0;
    color: #393636;
    font-size: px2rem(32);
    font-weight: bold;
    &::before {
      margin-right: px2rem(10);
      vertical-align: px2rem(-4);
      content: "";
      display: inline-block;
      background: url(../../img/icon/arrow_red.png) no-repeat center;
      background-size: 100% 100%;
      width: px2rem(32);
      height: px2rem(32);
    }
  }
}

/*查看更多class*/
.watch-more-btn {
  display: block;
  text-align: center;
  height: px2rem(105);
  line-height: px2rem(105);
  color: #999999;
  font-size: px2rem(28);
  i {
    margin-left: px2rem(8);
  }
}

/*红色标签class*/
.red-flag-text {
  color: #ff7470;
  font-size: px2rem(20);
  border: px2rem(1) solid #ff7470;
  border-radius: px2rem(2);
  display: inline-block;
  height: px2rem(32);
  line-height: px2rem(32);
  padding: 0 px2rem(10);
}

/*认证房源标签*/
.confirm-house {
  display: inline-block;
  overflow: hidden;
  background-color: $orange;
  border: px2rem(1) solid $orange;
  border-radius: px2rem(4);
  line-height: px2rem(25);
  height: px2rem(25);
  font-size: px2rem(18);
  dt {
    padding: 0 px2rem(4);
    height: px2rem(25);
    background-color: #ffffff;
    float: left;
    color: $orange;
  }
  dd {
    padding: 0 px2rem(4);
    height: px2rem(25);
    float: left;
    color: #ffffff;
  }
}


