@charset "utf-8";
@import "../lib/com";
@import "./bottom";
//颜色
$red: #dc3d39;
$gray: #b4b4b4;

.notfound {
  width: 100%;
  background: $red;
  transform: rotate(15deg);
  transition: all .1s;
  img {
    display: block;
    width: 100%;
  }
}
